.sidebar{
    display: flex;
    flex-direction: column;
    padding: 12rem 0;
    background-color: rgb(255,255,255);
    width: 20vw;
}
.sidebar > a > img{
    width: 80%;
    transition: all 0.5s;
    margin-left: 2rem;
}
.sidebar > a > img:hover{
    filter: drop-shadow(0 0 1rem tomato);
}
.sidebar a{
    text-decoration: none;
    padding: 2rem 3rem;
    color: rgba(0,0,0,0.493);
    transition: all 0.5s;
    font-size: 2.5rem;
}
.sidebar a:hover{
    color: tomato;
}
.sidebar a > p{
    display: flex;
    align-items: center;
}
.sidebar a > p > svg{
    margin-right: 0.5rem;
    font-size: 2rem;
    color: tomato;
}
.innerLinks{
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: -3rem;
}
.innerLinks li:first-child{
    margin-bottom: 1rem;
}
@media (max-width:860px){
    .sidebar{
        width: 100vw;
    }
    .sidebar > a > img{
        width: 25%;
        margin-left: 30rem;
        margin-bottom: 5rem;
    } 
    .sidebar a{
        font-size: 2.5rem;
        margin-left: 3rem;
    }  
    .sidebar a > p > svg{
        font-size: 3.5rem;
    }
}
@media (max-width:600px){
    .sidebar > a > img{
        width: 25%;
        margin-left: 15rem;
        margin-bottom: 5rem;
    } 
    .sidebar a{
        font-size: 3rem;
        margin-left: 3rem;
    }  
    .sidebar a > p > svg{
        font-size: 5rem;
    }
}