.productsHeading{
    margin: 4rem auto;
    font: 500 5rem 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 20%;
    border-bottom: 0.1rem solid rgba(0,0,0,0.678);
    padding: 2rem;
    margin-bottom: 9rem;
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding-left: 30rem;
    width: 80%;
    box-sizing: border-box;
    min-height: 30rem;
}
.paginationBox{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}
.pagination{
    display: flex;
    justify-content: center;
}
.page-item{
    border: 0.1rem solid rgba(0,0,0,0.178);
    cursor: pointer;
    list-style: none;
    padding: 2rem 3rem;
    transition: all 0.5s;
}
.page-item:first-child{
    border-radius: 0.5rem 0 0 0.5rem;
}
.page-item:last-child{
    border-radius: 0 0.5rem 0.5rem 0;
}
.page-link{
    text-decoration: none;
    font: 300 2.5rem "Roboto";
    color: rgb(80,80,80);
    transition: all 0.5s;
}
.page-item:hover{
    background-color: rgb(230,230,230);
}
.pageItemActive{
    background-color: tomato;
}
.pageLinkActive{
    color: white;
}
.productsFiltering{
    position: absolute;
    width: 20rem;
    top: 23rem;
    left: 5rem;
}
.productsFiltering .filterBox p{
    font: 500 2.5rem "Roboto";
}
.productsFiltering .categorySection p{
    font: 500 2.5rem "Roboto";
    margin-bottom: 1rem;
}
.productsFiltering .categorySection .categoryBox{
    margin-bottom: 1.5rem;
}
.productsFiltering .categorySection .categoryBox .category-link{
    list-style: none;
    font: 300 1.5rem Cursive;
    color: rgba(0,0,0,0.678);
    transition: all 0.5s;
    cursor: pointer;
}
.productsFiltering .categorySection .categoryBox .category-link:hover{
    color: tomato;
}
.productsFiltering .categorySection fieldset{
    padding: 1.3rem 2rem;
}
.productsFiltering .categorySection fieldset legend{
    font: 500 2.5rem "Roboto";
}
@media (max-width:1121px) {
    .products{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:868px) {
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:568px) {
    .products{
        grid-template-columns: 1fr;
    }
    .productsFiltering .filterBox p{
        font-size: 3.5rem;
    }
    .productsFiltering .categorySection p{
        font-size: 3.5rem;
    }
    .productsFiltering .categorySection .categoryBox .category-link{
        font-size: 2.5rem;
    }
    .productsFiltering .categorySection fieldset{
        padding: 0.5rem 2rem;
    }
    .productsFiltering .categorySection fieldset legend{
        font-size: 3.5rem;
    }
}

