.forgotPasswordContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgb(231,231,231);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgotPasswordBox{
    background-color: white;
    width: 27vw;
    height: 45vh;
    box-sizing: border-box;
    overflow: hidden;
}
.forgotPasswordBox h1{
    color: rgba(0,0,0,0.664);
    text-align: center;
    border-bottom: 0.1rem solid rgba(0,0,0,0.205);
    width: 70%;
    margin: auto;
    margin-bottom: -4rem;
    font: 500 2.9rem 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2.4rem;
}
.forgotPasswordForm{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 4rem;
    transition: 0.5s linear;
}
.forgotPasswordForm div{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 4rem;
}
.forgotPasswordForm div input{
    font: 300 2rem cursive;
    box-sizing: border-box;
    width: 100%;
    border: 0.1rem solid rgba(0,0,0,0.267);
    outline: none;
    border-radius: 0.4rem;
    padding: 1.5rem 4rem;
    padding-right: 1rem;
}
.forgotPasswordForm div svg{
    position: absolute;
    transform: translateX(1rem);
    font-size: 2.5rem;
    color: rgba(0,0,0,0.678);
}
.forgotPasswordBtn{
    border: none;
    outline: none;
    color: white;
    background-color: tomato;
    font: 300 2.5rem "Roboto";
    width: 100%;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 1.8rem;
    transition: 0.5s linear;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.219);
    margin-top: 3rem;
}
.forgotPasswordBtn:hover{
    background-color: rgb(179,66,46);
}
/* @media (max-width:1096px) {
    .forgotPasswordBox{
        background-color: white;
        width: 30vw;
    }
}
@media (max-width:900px) {
    .forgotPasswordBox{
        background-color: white;
        width: 35vw;
    }
}
@media (max-width:800px) {
    .forgotPasswordBox{
        background-color: white;
        width: 40vw;
    }
}
@media (max-width:700px) {
    .forgotPasswordBox{
        background-color: white;
        width: 45vw;
    }
}
@media (max-width:650px) {
    .forgotPasswordBox{
        background-color: white;
        width: 50vw;
    }
}
@media (max-width:600px) {
    .forgotPasswordBox{
        background-color: white;
        width: 55vw;
    }
}
@media (max-width:550px) {
    .forgotPasswordBox{
        background-color: white;
        width: 60vw;
    }
}
@media (max-width:500px) {
    .forgotPasswordBox{
        background-color: white;
        width: 65vw;
    }
}
@media (max-width:450px) {
    .forgotPasswordBox{
        background-color: white;
        width: 70vw;
    }
}
@media (max-width:400px) {
    .forgotPasswordBox{
        background-color: white;
        width: 75vw;
    }
}
@media (max-width:375px) {
    .forgotPasswordBox{
        background-color: white;
        width: 90vw;
    }
} */

@media (max-width:1650px) {
    .forgotPasswordBox{
        width: 30vw;
    }
}

@media (max-width:1500px) {
    .forgotPasswordBox{
        width: 32vw;
    }
}
@media (max-width:1350px) {
    .forgotPasswordBox{
        width: 35vw;
    }
}
@media (max-width:1200px) {
    .forgotPasswordBox{
        width: 40vw;
    }
}
@media (max-width:1000px) {
    .forgotPasswordBox{
        width: 45vw;
    }
}
@media (max-width:900px) {
    .forgotPasswordBox{
        width: 50vw;
    }
}
@media (max-width:768px) {
    .forgotPasswordForm div input{
        font-size: 2.5rem;
    }
    .forgotPasswordBox h1{
        font-size: 3.4rem;
    }
    .forgotPasswordBtn{
        font-size: 3rem;
        margin-top: 3rem;
    }
}
@media (max-width:650px) {
    .forgotPasswordBox{
        width: 60vw;
    }
}
@media (max-width:568px) {
    .forgotPasswordBox{
        height: 35vhvh;
    }
    .forgotPasswordForm div input{
        font-size: 3rem;
    }
    .forgotPasswordBox h1{
        font-size: 3rem;
    }
    .forgotPasswordBtn{
        font-size: 2.5rem;
    }
}
@media (max-width:450px) {
    .forgotPasswordBox{
        width: 70vw;
        height: 50vh;
    }
}
@media (max-width:400px) {
    .forgotPasswordBox{
        height: 40vh;
    }
}