.resetPasswordContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgb(231,231,231);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resetPasswordBox{
    background-color: white;
    width: 27vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
}
.resetPasswordBox h1{
    color: rgba(0,0,0,0.664);
    text-align: center;
    border-bottom: 0.1rem solid rgba(0,0,0,0.205);
    width: 70%;
    margin: auto;
    margin-bottom: -2rem;
    font: 500 2.9rem 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2.4rem;
}
.resetPasswordForm{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 4rem;
    transition: 0.5s linear;
}
.resetPasswordForm div{
    display: flex;
    width: 100%;
    align-items: center;
}
.resetPasswordForm div input{
    font: 300 2rem cursive;
    box-sizing: border-box;
    width: 100%;
    border: 0.1rem solid rgba(0,0,0,0.267);
    outline: none;
    border-radius: 0.4rem;
    padding: 1.5rem 4rem;
    padding-right: 1rem;
}
.resetPasswordForm div svg{
    position: absolute;
    transform: translateX(1rem);
    font-size: 2rem;
    color: rgba(0,0,0,0.678);
}
.resetPasswordBtn{
    border: none;
    outline: none;
    color: white;
    background-color: tomato;
    font: 300 2.5rem "Roboto";
    width: 100%;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 1.5rem;
    transition: 0.5s linear;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.219);
    margin-top: 2rem;
}
.resetPasswordBtn:hover{
    background-color: rgb(179,66,46);
}

@media (max-width:1650px) {
    .resetPasswordBox{
        width: 30vw;
    }
}

@media (max-width:1500px) {
    .resetPasswordBox{
        width: 32vw;
    }
}
@media (max-width:1350px) {
    .resetPasswordBox{
        width: 35vw;
    }
}
@media (max-width:1200px) {
    .resetPasswordBox{
        width: 40vw;
    }
}
@media (max-width:1000px) {
    .resetPasswordBox{
        width: 45vw;
    }
}
@media (max-width:900px) {
    .resetPasswordBox{
        width: 50vw;
    }
}
@media (max-width:768px) {
    .resetPasswordBox{
        height: 55vh;
    }
    .resetPasswordForm div input{
        font-size: 2.5rem;
    }
    .resetPasswordBox h1{
        font-size: 3.4rem;
    }
    .resetPasswordBtn{
        font-size: 3rem;
        margin-top: 3rem;
    }
}
@media (max-width:650px) {
    .resetPasswordBox{
        width: 60vw;
    }
}
@media (max-width:450px) {
    .resetPasswordBox{
        width: 70vw;
        height: 50vh;
    }
}
@media (max-width:400px) {
    .resetPasswordBox{
        height: 40vh;
    }
}