html{
    font-size: 62.5%;
}
.loading{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
}
.loading > div{
    width: 13rem;
    height: 13rem;
    border-bottom: 0.4rem solid rgba(0,0,0,0.719);
    border-radius: 50%;
    animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
    to {
        transform: rotateZ(-360deg);
    }
} 